.border {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

#pre1 {
  font-family: "Times New Roman", Times, serif;
}

.inline {
  display: inline;
}

.italic {
  font-style: italic;
}

a {
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
}
